a{
	text-decoration:none;
}


body{
	width:100%;
	height: auto !important;
	height:100%;
	background:url('../img/bg.png');	
	font-family: Arial;
}
@media (min-width:1280px){
body{
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
}
}


.page__head-line{
	width:100%;
	height:5px;
	background-color:#F5F5F5;
}
@media (min-width:1280px){
.page__head-line{
	width:50%;
}
}


header{
	width:100%;
	height:120px;
	display:inline-block;	
}

.head__img{
	width:50%;
	padding-left:3.5%;
	padding-top:20px;
	display:inline-block;
}
@media (max-width:968px){
.head__img{
	width:10%;
	float:left;
	margin-top:25px;
}
}

.head__number-phone{
	float:right;
	width:30%;
}
@media (max-width:968px){
.head__number-phone{
	float:left;
	width:65%;
}
}
@media (max-width:968px){
.head__number-phone{
	margin-left:-37%;
}
}

.head__number-phone div{
	color:#666666;
	font-size:13px;
	padding-top:5px;
	float:right;
	margin-right:3%;
}
@media (max-width:968px){
.head__number-phone div{
	padding-left:41%;
	font-size:11px;
	float:none;
}
}

header nav{
	width:30%;
	float:right;
	text-align:right;
	padding-top:0px;
	margin:0; 
    padding:0px;
	text-decoration:none;
}
@media (max-width:968px){
header nav{
	width:97px;
	margin-top:-5px;
	padding-left:26%;
	position:relative;
	text-align:justify;
}
}
@media (min-width:1280px){
header nav{
	width:30%;
}
}


header nav A:hover{
	background-color:#FF0238;
	border:1px solid #FF0238;
	color:white;
}
header nav A:nth-child(2){
	background-color:#FF0238;
	border:1px solid #FF0238;
	color:white;
}

.container-main-style{
	display:inline-block;
	margin-right:2%; 
    border:1px solid #efefef; 
	border-radius:3px;
    padding:6px;
	color:#aeaeae;
	background-color:#efefef;	   
    box-shadow: 0 0 1px rgba(0,0,0,0.4);  
}
@media (max-width:968px){
.container-main-style{
	display:block;
	margin-top:10px;
}
}


.page__my-work{
	width:100%;
	height:45px;
	background-color:#f8f8f8;
	border-bottom:1px solid #efefef;
	border-top:1px solid #efefef;
	padding-top:15px;
}

.page__my-work span:nth-child(1){
	font-size:30px;
	padding-left:1%;
}
@media (max-width:420px){
.page__my-work span:nth-child(1){
	font-size:25px;
}
}


main{
	width:98%;
	height:600px;
	display:inline-block;
	padding-Left:2%;
	padding-top:10px;
}


footer{
	width:100%;
	height:150px;
	background-color:#303030;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}
@media (min-width:1280px){
footer{
	margin-top:30px;
}
}

footer img:nth-child(1){
	padding-top:20px;
	padding-left:2%;
	display:inline-block;
	float:left;
}

.portfolio-desc{
	display:inline-block;
	padding-top:20px;
	padding-left:5%;
	float:left;
}

.foot-port__style{
	color:red;
	font-size:12px;
}

.foot-portfolio-style{
	color:#cacaca;
	font-size:16px;
}
.portfolio-desc__desc{
	color:#999;
	font-size:12px;
	margin-top:5px;
}

.contact-info{
	display:inline-block;
	padding-top:20px;
	padding-left:5%;
	float:left;
}
.send-email{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #222;
	color:red;
	display:block;
}

.send-email__tel{
	border-top:1px solid #444;
	padding-top:5px;
}
.tel-style1{
	color:red;
	font-size: 11px;
}
.tel-style2{
	color:#999;
	font-size:12px;
}

.social-networks{
	display:inline-block;
	padding-top:20px;
	padding-left:5%;
	float:left;
}
.follow-me-soc-net{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #222;
	color:#999;
	font-size:12px;
	margin-top:5px;
}
.icon-soc-net{
	border-top:1px solid #444;
	padding-top:5px;
}
@media (max-width:768px){
footer{
	height:285px;
}
footer img:nth-child(1),
.portfolio-desc,
.contact-info,
.social-networks{
	display:block;
	float:none;
	padding-left:3%;
}
}
@media (min-width:1280px){
.portfolio-desc,
.contact-info,
.social-networks{
	padding-left:10%;
}
}

.page__bottom-block{
	border-bottom:5px solid #000;
	background:#3a3a3a;
	color:#999;
	font-size:11px;
	padding:10px 0px;
	padding-left:2%;
}
@media (max-width:768px){
.page__bottom-block{
	padding-left:3%;
}
}